@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{ ViewData["Title"] = "Reviews"; }

@section featured{
    we are showing latest reviews

}
<h1>Reviews</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
<div class="review">
    <h4>@item.Name</h4>
    <span>@item.Rating</span>
    <p>@item.City, @item.Country</p>
    <span class="right">
        @Html.ActionLink("Edit", "Edit", new {id = item.Id })
    </span>
</div>
}

